{% extends 'cv24/base.html' %}

{% block title %}
CV24 - Edge Detectiton using Canny Edge Dectector
{% endblock title %}

{% block content %}
<div class="upl-form-wrp">
    <form action="{% url 'cv24:edges' %}" method="POST" class="upl-frm"
        enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image" class="f-lab">Image</label>
        <input type="file" name="image" accept=".png, .jpg" required
            class="inp">
        <button type="submit" class="btn">Detect Edges</button>
        <div class="f-extra">
            <label for="min_val" class="f-lab">
                <small>Lower Threshold</small>
            </label>
            <input type="number" value="100" min="50" max="500"
                name="min_val">
            <label for="max_val" class="ml-4r">
                <small>Upper Threshold</small>
            </label>
            <input type="number" value="200" min="50" max="500"
                name="max_val">
        </div>
    </form>
</div>
{% if original %}
<div class="org-res-wrp">
    <div class="org-res left ">
        <h3>Input Image</h3>
        <img
            src="{{ original }}" alt>
    </div>
    <div class="org-res">
        <h3>Output Image</h3>
        <img
            src="{{ output }}" alt>
    </div>
</div>
{% endif %}
{% endblock content %}