{% extends 'cv24/base.html' %}

{% block title %}
CV24 - Optical Character Recognition
{% endblock title %}

{% block content %}
<div class="upl-form-wrp">
    <form action="{% url 'cv24:ocr' %}" method="POST" class="upl-frm"
        enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image" class="f-lab">Image</label>
        <input type="file" name="image" accept=".png, .jpg" required
            class="inp">
        <button type="submit" class="btn">Perform OCR</button>
    </form>
</div>

{% if original %}
<div class="org-res-wrp">
    <div class="org-res left ">
        <h3>Input Image</h3>
        <img
            src="{{ original }}" alt>
    </div>
    <div class="org-res">
        <h3>Output Image</h3>
        <img
            src="{{ output }}" alt>
    </div>
</div>
<div class="ocr-txt-wrp">
    <h3><u>Recognized Texts</u></h3>
    {% if text %}
    <p>{{text|linebreaksbr|safe}}</p>
    {% else %}
    <p class="no-txt">No text recognized in uploaded image !</p>
    {% endif %}
</div>
{% endif %}
{% endblock content %}