{% load static %}

<div class="navigation">
    <a href="#" class="no-style-lnk">
        <div class="nav-br-wrp">
            <div class="nav-lg-it">C</div>
            <div class="nav-lg-it">V</div>
            <div class="nav-lg-it">2</div>
            <div class="nav-lg-it">4</div>
        </div>
    </a>
    <div class="nav-it-wrp">
        <a href="{% url 'canny:detect-edges' %}"
            class="nav-it no-style-lnk">
            Edge Detection
        </a>
        <a href="#"
            class="nav-it no-style-lnk">
            Optical Character Recognition
        </a>
        <a href="#"
            class="nav-it no-style-lnk">
            Image Deblurring
        </a>
    </div>
</div>